*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Visual Studio .NET
Debug/
Release/
packages/
.vs/

# IntelliJ IDEA #
bin
build
.gradle
.idea/
*.iws
out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
