<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- USE THE LINK TO DOWNLOAD THE SAMPLE IMAGES.  THEN, SET 
    CSV_FILE_LOCATION AND IMAGE_FOLDER_LOCATION TO WHERE YOU 
    SAVED/UNZIPPED THE CONTENT.  PLEASE DOWNLOAD THE SAMPLE IMAGES HERE: 
    https://object.ecstestdrive.com/share/pictures.zip?AWSAccessKeyId=130820690509421904%40ecstestdrive.emc.com&Expires=1558015231&Signature=ITEfSxwhGH0lc9JM2nQWysyecqM%3D -->
    <add key="CSV_FILE_LOCATION" value="c:\pictures\images-list.csv"/>
    <add key="IMAGE_FOLDER_LOCATION" value="c:\pictures"/>
    <!-- 
    <add key="S3_USE_HTTP" value="true"/>
    -->
  </appSettings>
</configuration>